h1{
    color: chartreuse;
    text-align: center;
}#one{
    float: left;
    width: 500px;
    height: 300px;
    background-color: chocolate;
}
#sec{
    float: left;
    width: 500px;
    height: 300px;
    background-color: crimson;
}